.container {
    background-color: white;
    border: black solid 1px;
    height: 120px;
}

.messages {
    text-align: center;
    height: 100px;
    overflow: auto;
}

.message {
    color: black;
    text-align: start;
}

.input {
    display: flex;
    flex-direction: row;
    height: 20px;
}

.input > input {
    width: 90%;
}

.input > .send-button {
    height: 20px;
    width: 10%;
    text-align: center;
    border-radius: 0;
    padding: 0;
}